@import url('https://fonts.googleapis.com/css?family=Monoton|Righteous|Sacramento|Squada+One|Open+Sans|Zilla+Slab|Sen&display=swap');



body,html{
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
    width: 100%;
    min-height: 100%;
}

.wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.wrapperDetalii{
    display:flex;
    margin-bottom: 250px;
}
.wrapperCart, .wrapperContact{
    margin-bottom: 250px;
}
.box{
    max-height:100%;
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span{
    font-size: 25px;
    font-family: 'Righteous', cursive;
    margin-left: 10px;
}
#logoTitle{
    margin:0;
    position: absolute;
    top:11.7%;
    color: rgba(0, 0, 0, 0.342);
    width: 350px;
    text-align: center;
}
#logo{
    height:140px;
}
img{
    height: 300px;
    margin: 0 auto;
}

#name{
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
}

.access{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

#icons{
    margin-top: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    margin: 4px;
}
nav{
    display: flex;
    justify-content: space-between;
}


.backGround{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,102,255,1) 0%, rgba(12,214,158,1) 15%, rgba(214,249,1,1) 34%, rgba(255,244,0,1) 50%, rgba(255,192,0,1) 68%, rgba(255,141,0,1) 86%, rgba(255,64,0,1) 100%);
    height: 500px;
    margin-bottom: 80px;
}
.title{
    padding: 0;
    width:auto;
    margin:0 auto;
    font-size: 170px;
    font-weight: bold;
    position: absolute;
    font-family: 'Righteous', cursive;
    color: rgb(34, 28, 28);
}

.title2{
    padding: 0;
    width:auto;
    margin:0 auto;
    font-size: 150px;
    font-weight: bold;
    position: absolute;
    
    font-family: 'Righteous', cursive;
    color: #ffffff;
}
.motto{
    padding: 0;
    font-size: 30px;
    position: absolute;
    margin-top: 100px;
    width: auto;
    font-family: 'Righteous', cursive;
    color: rgb(34, 28, 28);
}


.footer{
    /* margin-top:  */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    background-color: rgba(253, 49, 49, 0.87);
}

.footer a{
    text-decoration: none;
    font-family: 'Open Sans';
    color: black;
    margin: 5px;
}

.footer div p{
    font-size: 16px;
    font-family: 'Open Sans';
    color: black;
    margin: 5px;

}

.sm-icon{
    height: 16px;
    width: 16px;
}

.carousel{
    margin-bottom: 100px;
    margin-top: 100px;
}

h1{
    margin-top: 70px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 40px; 
}
#message{
    margin-top: 70px;
    text-align: center;
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

#message2{
    width: 100%;
    text-align: center;
}

ul{
    display: flex;
    list-style-type:none;
    padding: 0;
    margin: 0;
}

ul li{

    margin-right: 30px;
    color: rgb(161, 161, 161);
}

ul input{
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    height: 22px;
    text-align: center;
}

ul input:focus{
    outline:none;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#loader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

#item {
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: black;
    display: flex;
    flex-direction: column;
}
#poza{
    height: 500px;
    margin: 10px auto;
}

#detalii{
    max-height: 295px;
    overflow: hidden;
    margin: 0 auto;
    width: 400px;
    text-align: justify;
    text-indent: 5%;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
}
.detalii{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 30px;
}

#addToCart{
 background-color:yellow;
 color: black;
 border-radius: 50px;
 border: 1px solid rgb(52, 245, 3);
 margin-top: 50px;
 font-size: 15px;
 font-weight: bold;
 font-family: 'Sen', sans-serif;
 width: 40%;
 height: 30px;
}


.link{
    text-decoration: none;
}

#ul{

    display:flex;
    flex-direction: column;

}

#li{
    
    max-height: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

#imgCart{
    max-height: 100px;
    margin: 0;
}

#nr{
    height: 25px;
}

#btn-del{
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
#ok-btn{
    height: 30px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.box1{
    max-width: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.box1 input{
    width: 20%;
}

.bg-modal{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
#pop{
    background-color: #fefefe;
    margin: 15% auto;
    width: 50%;
} 

#prodAdd{
    width: 100%;
    height: 40%;
    background-color: honeydew;
    border-bottom: 1px solid lightslategray;
    border-top: 1px solid lightslategray;
    display: flex;
    align-items: center;
}
#prodAdd img{
    max-width: 20%;
    height: 100px;
    margin: 15px auto;
    margin-left: 15px;
}

#prodAdd p{
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
}
#pa{
    background-color: transparent;
    border: none;
}
#vzCos{
    background-color: yellow;
    border: 1px solid rgb(52, 245, 3);
    border-radius: 50px;
}

.total{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    position: relative;
    left:70%;
}
.btn-ipt{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.total button{
    background-color: transparent;
    font-weight: bold;
    width: 90%;
    border: 1px solid grey;
    border-radius: 10px;
}

#table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 3%;
}
#table td , #table thead{
    padding: 8px;
    text-align: center;
}
#table tr:nth-child(even){
    background-color: #f2f2f2;
}
#table tbody tr:hover {
    background-color: #ddd;
}
.row_img{
    max-height: 50px;
}
.gestionare{
    display: flex;
    justify-content: center;
    align-items: center;
}
#add_btn{
    border: none;
    background-color: rgb(30, 30, 185);
    color: whitesmoke;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
.main_img:hover{
    opacity: 0.5;
}

















@media only screen and (max-width: 767px){
    .backGround{
        height: 350px;
    }
    .title{
        font-size: 70px;
    }
    .title2{
        font-size: 65px;
    }
    .motto{
        font-size: 20px;
        margin-top: 50px;
    }
    #logo{
        height: 70px;
        margin-left: -20px;
    }
    #logoTitle{
        display: none;
    }
    h1{
        font-size: 20px;
        margin-bottom: 0;
    }
    .showDesktop{
        display:none;
    }

    #icons{
        margin-top: 20px;
        margin-left: 50px;
    }
}


@media only screen and (min-width: 768px){

.hideDesktop{
    display: none;
}
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }