@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');



body,html{
    padding: 0;
    margin: 0;
    font-family: 'Caveat', cursive;
    font-size: 22px;
}

.wrapper{
    display:flex; 
    flex-wrap:wrap;
    justify-content: center;
}

.box{
    max-height:100%;
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 300px;
}

p{
    width: 350px;
    text-align: center;
}

.access{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.detalii{
    height: 30px;
    width: 70px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid gold;
}
#wallpaper{
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
}

.icon{
    width: 18px;
    height: 18px;
    margin: 3px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}