@import url('https://fonts.googleapis.com/css?family=Monoton|Righteous|Sacramento|Squada+One&display=swap');



body,html{
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
}

.wrapper{
    display:flex; 
    flex-wrap:wrap;
    justify-content: center;
}

.box{
    max-height:100%;
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 300px;
}

p{
    width: 350px;
    text-align: center;
    font-size: 26px;
}

.access{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.detalii{
    height: 30px;
    width: 70px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid gold;
    font-family: 'Squada One', cursive;
    font-size: 20px;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 4px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.backGround{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,102,255,1) 0%, rgba(12,214,158,1) 15%, rgba(214,249,1,1) 34%, rgba(255,244,0,1) 50%, rgba(255,192,0,1) 68%, rgba(255,141,0,1) 86%, rgba(255,64,0,1) 100%);
    height: 500px;
    margin-bottom: 80px;
}
.title{
    padding: 0;
    width:auto;
    margin:0 auto;
    font-size: 170px;
    font-weight: bold;
    position: absolute;
    font-family: 'Righteous', cursive;
    color: rgb(34, 28, 28);
}

.title2{
    padding: 0;
    width:auto;
    margin:0 auto;
    font-size: 150px;
    font-weight: bold;
    position: absolute;
    
    font-family: 'Righteous', cursive;
    color: #ffffff;
}
.motto{
    padding: 0;
    font-size: 30px;
    position: absolute;
    margin-top: 100px;
    width: auto;
    font-family: 'Righteous', cursive;
    color: rgb(34, 28, 28);
}
@media only screen and (max-width: 768px){
    .backGround{
        height: 350px;
    }
    .title{
        font-size: 70px;
    }
    .title2{
        font-size: 65px;
    }
    .motto{
        font-size: 20px;
        margin-top: 50px;
    }
}